{
  extends: 'airbnb',
  "rules": {
    "func-names": 0,
    "no-console": 0,
    "comma-dangle": [2, "never"],
    "semi": [2, "never"],
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": 0,
    "no-use-before-define": 0,
    'new-cap': 0,
    'key-spacing': 0,
    'no-multi-spaces': 0
  }
}
